
body {
  background-image: url("https://epicodus-emmerson.s3-us-west-2.amazonaws.com/4a.png");
  padding-top: 200px;
  padding-left: 400px;
  border-radius: 10px;
  font-family: 'Staatliches', cursive;
  font-size: 20px;
  color: white;
}
.title {
  font-family: 'Teko', sans-serif;
}

.playerPrint {
  font-size: 16px;
}
.col-sm-6 {
  background: #C9082A;
  padding: 18px;
}

.other {
  background: #17408b ;
}

.other2 {
  background: #C6CFD5;
}

.p {
  text-align: center;
  padding-top: 120px;
}

.p a {
  text-decoration: underline;
  color: blue;
}

.filter {
  color: black;
}

div.frame {
  width: 500px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #041a7e;
}